## Clean up code for ETL project

In [1]:
import pandas as pd

In [2]:
# Determine CSV paths for each
# Climatological disasters 
climate_csv = "Resources/Climatological disasters.csv"
# Greenhouse gas emissions  
ghg_csv = "Resources/GHG_Emissions.csv"

In [26]:
# Read CSV into dataframes

diasters_df = pd.read_csv(climate_csv)
ghg_df = pd.read_csv(ghg_csv, skiprows=[0])
diasters_df

,CountryID,Countries or areas,Occurrence 1990-1999,Occurrence 2000-2009,Occurrence 2010-2019,Total deaths 1990-1999,Total deaths 2000-2009,Total deaths 2010-2019,Persons affected 1990-1999,Persons affected 2000-2009,Persons affected 2010-2019
0,4,Afghanistan,3,3,2,0,37,0,48000,4760000,12350000
1,8,Albania,1,1,...,0,0,...,3200000,75,...
2,12,Algeria,2,1,...,22,8,...,0,0,...
3,24,Angola,4,2,2,0,58,0,2585000,25000,3253900
4,660,Anguilla,1,...,...,0,...,...,0,...,...
...,...,...,...,...,...,...,...,...,...,...,...
148,860,Uzbekistan,...,1,...,...,0,...,...,600000,...
149,862,Venezuela (Bolivarian Republic of),...,1,...,...,0,...,...,0,...
150,704,Viet Nam,3,3,2,0,0,0,4400000,1710000,1750000
151,894,Zambia,4,1,...,0,0,...,2973204,1200000,...
152,716,Zimbabwe,3,2,3,0,0,0,5055000,8100000,13567618