## Clean up code for ETL project

In [1]:
import pandas as pd

In [2]:
# Determine CSV paths for each
# Climatological disasters 
climate_csv = "Resources/Climatological disasters.csv"
# Greenhouse gas emissions  
ghg_csv = "Resources/GHG_Emissions.csv"

In [25]:
# Read CSV into dataframes

diasters_df = pd.read_csv(climate_csv)
ghg_df = pd.read_csv(ghg_csv, skiprows=[0])
diasters_df
ghg_df

,Unnamed: 0,Unnamed: 1,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,Latest Year,1000 t of\n CO₂ equivalent,%,kg of CO₂ equivalent
0,4,Afghanistan,...,...,...,...,...,...,...,...,...,"43,377.00",...,...,...,...,...,2013,43377.00,...,1.34
1,8,Albania,"4,341.63","6,486.66","4,581.28","4,588.00","4,906.36","4,883.76","4,998.58","5,107.07",...,...,...,...,...,...,...,2009,8125.70,87.16,2.73
2,12,Algeria,...,...,...,...,"91,758.00",...,...,...,...,...,...,...,...,...,...,2000,111022.59,...,3.58
3,24,Angola,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,2005,61610.76,...,3.17
4,28,Antigua and Barbuda,388.63,...,...,...,...,...,...,...,...,...,...,...,...,...,...,2000,597.75,53.81,7.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,862,Venezuela (Bolivarian Republic of),...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,1999,192192.24,...,8.10
187,704,Viet Nam,...,...,...,...,"84,454.06",...,...,...,...,"2,78,441.86",...,...,...,...,...,2013,278441.86,...,3.07
188,887,Yemen,...,...,...,...,...,"17,870.11",...,...,...,...,...,...,...,...,...,2012,37942.87,...,1.55
189,894,Zambia,...,...,...,...,"32,770.07",...,...,...,...,...,...,...,...,...,...,2000,14404.70,...,1.38
190,716,Zimbabwe,...,...,...,...,"27,594.22",...,...,...,...,...,...,...,...,...,...,2006,21184.72,...,1.74