In [1]:
import sqlalchemy
from sqlalchemy import create_engine
import pandas as pd
import psycopg2

In [2]:
# Connect to local database
database_path = f"postgres:ETLproject2021@database-1.cleqlm4bplij.us-east-2.rds.amazonaws.com/en_indicators_db"
engine = create_engine(f'postgresql://{database_path}')

In [3]:
# CHeck table names
engine.table_names()

['ghg', 'disasters']

In [4]:
#Change csv files to dataframe
#GHG
ghg_path = "ghg_csv\GHG_unpivot.csv"
ghg_cleaned_df = pd.read_csv(ghg_path)

#Disasters
disaters_path = "disasters_csv\disasters_unpivot.csv"
disaters_cleaned_df = pd.read_csv(disaters_path)

In [5]:
# Load new cleaned dataframes into database

# GHG
ghg_cleaned_df.to_sql(name='ghg', con=engine, if_exists='replace', index=False)

# Disasters
disaters_cleaned_df.to_sql(name="disasters", con=engine, if_exists='replace', index=False)