## Cleaned up data for ETL Project

In [2]:
import pandas as pd

In [3]:
#Determing csv paths for each

#Climatalogical disasters

climate_csv = "Resources/Climatological disasters.csv"

#Greenhouse Gas Emissions

ghg_csv = "Resources/GHG_Emissions.csv"

In [4]:
#Read csvs into dataframes

disasters_df = pd.read_csv(climate_csv)
ghg_df = pd.read_csv(ghg_csv, skiprows=[0])

In [5]:
disasters_df

,CountryID,Countries or areas,Occurrence 1990-1999,Occurrence 2000-2009,Occurrence 2010-2019,Total deaths 1990-1999,Total deaths 2000-2009,Total deaths 2010-2019,Persons affected 1990-1999,Persons affected 2000-2009,Persons affected 2010-2019
0,4,Afghanistan,3,3,2,0,37,0,48000,4760000,12350000
1,8,Albania,1,1,...,0,0,...,3200000,75,...
2,12,Algeria,2,1,...,22,8,...,0,0,...
3,24,Angola,4,2,2,0,58,0,2585000,25000,3253900
4,660,Anguilla,1,...,...,0,...,...,0,...,...
...,...,...,...,...,...,...,...,...,...,...,...
148,860,Uzbekistan,...,1,...,...,0,...,...,600000,...
149,862,Venezuela (Bolivarian Republic of),...,1,...,...,0,...,...,0,...
150,704,Viet Nam,3,3,2,0,0,0,4400000,1710000,1750000
151,894,Zambia,4,1,...,0,0,...,2973204,1200000,...
152,716,Zimbabwe,3,2,3,0,0,0,5055000,8100000,13567618

In [6]:
ghg_df

,Unnamed: 0,Unnamed: 1,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,Latest Year,1000 t of\n CO₂ equivalent,%,kg of CO₂ equivalent
0,4,Afghanistan,...,...,...,...,...,...,...,...,...,"43,377.00",...,...,...,...,...,2013,43377.00,...,1.34
1,8,Albania,"4,341.63","6,486.66","4,581.28","4,588.00","4,906.36","4,883.76","4,998.58","5,107.07",...,...,...,...,...,...,...,2009,8125.70,87.16,2.73
2,12,Algeria,...,...,...,...,"91,758.00",...,...,...,...,...,...,...,...,...,...,2000,111022.59,...,3.58
3,24,Angola,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,2005,61610.76,...,3.17
4,28,Antigua and Barbuda,388.63,...,...,...,...,...,...,...,...,...,...,...,...,...,...,2000,597.75,53.81,7.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,862,Venezuela (Bolivarian Republic of),...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,1999,192192.24,...,8.10
187,704,Viet Nam,...,...,...,...,"84,454.06",...,...,...,...,"2,78,441.86",...,...,...,...,...,2013,278441.86,...,3.07
188,887,Yemen,...,...,...,...,...,"17,870.11",...,...,...,...,...,...,...,...,...,2012,37942.87,...,1.55
189,894,Zambia,...,...,...,...,"32,770.07",...,...,...,...,...,...,...,...,...,...,2000,14404.70,...,1.38
190,716,Zimbabwe,...,...,...,...,"27,594.22",...,...,...,...,...,...,...,...,...,...,2006,21184.72,...,1.74

In [7]:
ghg_df.rename(columns={"Unnamed: 0": "CountryID", "Unnamed: 1": "Countries or areas"}, inplace=True)
ghg_df

,CountryID,Countries or areas,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,Latest Year,1000 t of\n CO₂ equivalent,%,kg of CO₂ equivalent
0,4,Afghanistan,...,...,...,...,...,...,...,...,...,"43,377.00",...,...,...,...,...,2013,43377.00,...,1.34
1,8,Albania,"4,341.63","6,486.66","4,581.28","4,588.00","4,906.36","4,883.76","4,998.58","5,107.07",...,...,...,...,...,...,...,2009,8125.70,87.16,2.73
2,12,Algeria,...,...,...,...,"91,758.00",...,...,...,...,...,...,...,...,...,...,2000,111022.59,...,3.58
3,24,Angola,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,2005,61610.76,...,3.17
4,28,Antigua and Barbuda,388.63,...,...,...,...,...,...,...,...,...,...,...,...,...,...,2000,597.75,53.81,7.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,862,Venezuela (Bolivarian Republic of),...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,1999,192192.24,...,8.10
187,704,Viet Nam,...,...,...,...,"84,454.06",...,...,...,...,"2,78,441.86",...,...,...,...,...,2013,278441.86,...,3.07
188,887,Yemen,...,...,...,...,...,"17,870.11",...,...,...,...,...,...,...,...,...,2012,37942.87,...,1.55
189,894,Zambia,...,...,...,...,"32,770.07",...,...,...,...,...,...,...,...,...,...,2000,14404.70,...,1.38
190,716,Zimbabwe,...,...,...,...,"27,594.22",...,...,...,...,...,...,...,...,...,...,2006,21184.72,...,1.74

In [8]:
ghg_df.dtypes

CountryID                       int64
Countries or areas             object
1990                           object
1991                           object
1992                           object
1993                           object
1994                           object
1995                           object
1996                           object
1997                           object
1998                           object
1999                           object
2000                           object
2001                           object
2002                           object
2003                           object
2004                           object
2005                           object
2006                           object
2007                           object
2008                           object
2009                           object
2010                           object
2011                           object
2012                           object
2013                           object
2014                           object
2015                           object
2016                           object
2017                           object
2018                           object
Latest Year                     int64
1000 t of\n CO₂ equivalent    float64
%                              object
kg of CO₂ equivalent          float64
dtype: object

In [9]:
# Drop Latest Year, 1000 1, and kg Columns 
del ghg_df["Latest Year"]
del ghg_df["1000 t of\n CO₂ equivalent"]
del ghg_df["kg of CO₂ equivalent"]
ghg_df

,CountryID,Countries or areas,1990,1991,1992,1993,1994,1995,1996,1997,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,%
0,4,Afghanistan,...,...,...,...,...,...,...,...,...,...,...,...,"43,377.00",...,...,...,...,...,...
1,8,Albania,"4,341.63","6,486.66","4,581.28","4,588.00","4,906.36","4,883.76","4,998.58","5,107.07",...,...,...,...,...,...,...,...,...,...,87.16
2,12,Algeria,...,...,...,...,"91,758.00",...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,24,Angola,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,28,Antigua and Barbuda,388.63,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,53.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,862,Venezuela (Bolivarian Republic of),...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,704,Viet Nam,...,...,...,...,"84,454.06",...,...,...,...,"2,66,049.23",...,...,"2,78,441.86",...,...,...,...,...,...
188,887,Yemen,...,...,...,...,...,"17,870.11",...,...,...,"34,139.25",...,"37,942.87",...,...,...,...,...,...,...
189,894,Zambia,...,...,...,...,"32,770.07",...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,716,Zimbabwe,...,...,...,...,"27,594.22",...,...,...,...,...,...,...,...,...,...,...,...,...,...

In [10]:
# Rename % column
new_df = ghg_df.rename(columns={"%": "Percent Change"})

In [11]:
# GHG unpivoted

ghg_df_unpivot = new_df.melt(id_vars=['CountryID', 'Countries or areas', 'Percent Change'], var_name='Year', value_name = 'GHG emissions per 1000t')

In [12]:
ghg_df_unpivot

,CountryID,Countries or areas,Percent Change,Year,GHG emissions per 1000t
0,4,Afghanistan,...,1990,...
1,8,Albania,87.16,1990,"4,341.63"
2,12,Algeria,...,1990,...
3,24,Angola,...,1990,...
4,28,Antigua and Barbuda,53.81,1990,388.63
...,...,...,...,...,...
5534,862,Venezuela (Bolivarian Republic of),...,2018,...
5535,704,Viet Nam,...,2018,...
5536,887,Yemen,...,2018,...
5537,894,Zambia,...,2018,...
5538,716,Zimbabwe,...,2018,...

In [13]:
ghg_df_unpivot.sort_values(by=['Countries or areas'])

,CountryID,Countries or areas,Percent Change,Year,GHG emissions per 1000t
0,4,Afghanistan,...,1990,...
2483,4,Afghanistan,...,2003,...
955,4,Afghanistan,...,1995,...
4584,4,Afghanistan,...,2014,...
4393,4,Afghanistan,...,2013,"43,377.00"
...,...,...,...,...,...
5156,716,Zimbabwe,...,2016,...
381,716,Zimbabwe,...,1991,...
4010,716,Zimbabwe,...,2010,...
763,716,Zimbabwe,...,1993,...
5538,716,Zimbabwe,...,2018,...

In [14]:
# Change "Year" column to integer
ghg_df_unpivot.dtypes
ghg_df_unpivot["Year"] = ghg_df_unpivot["Year"].astype(str).astype(int)
ghg_df_unpivot.dtypes

CountryID                   int64
Countries or areas         object
Percent Change             object
Year                        int64
GHG emissions per 1000t    object
dtype: object

In [15]:
# Bins for ghg data 
bins = [1990, 1999, 2009, 2019]

decades = ["1990-1999", "2000-2009", "2010-2019"]

ghg_df_unpivot["Decades"] = pd.cut(ghg_df_unpivot["Year"], bins, labels=decades, include_lowest=True)
ghg_df_unpivot

,CountryID,Countries or areas,Percent Change,Year,GHG emissions per 1000t,Decades
0,4,Afghanistan,...,1990,...,1990-1999
1,8,Albania,87.16,1990,"4,341.63",1990-1999
2,12,Algeria,...,1990,...,1990-1999
3,24,Angola,...,1990,...,1990-1999
4,28,Antigua and Barbuda,53.81,1990,388.63,1990-1999
...,...,...,...,...,...,...
5534,862,Venezuela (Bolivarian Republic of),...,2018,...,2010-2019
5535,704,Viet Nam,...,2018,...,2010-2019
5536,887,Yemen,...,2018,...,2010-2019
5537,894,Zambia,...,2018,...,2010-2019
5538,716,Zimbabwe,...,2018,...,2010-2019

In [18]:
# Reorder so that years are next to decades 
final_ghg_df = ghg_df_unpivot[['CountryID', 'Countries or areas', 'Year', 'Decades', 'GHG emissions per 1000t', 'Percent Change']]
final_ghg_df.sort_values(by=['Countries or areas'])

,CountryID,Countries or areas,Year,Decades,GHG emissions per 1000t,Percent Change
0,4,Afghanistan,1990,1990-1999,...,...
2483,4,Afghanistan,2003,2000-2009,...,...
955,4,Afghanistan,1995,1990-1999,...,...
4584,4,Afghanistan,2014,2010-2019,...,...
4393,4,Afghanistan,2013,2010-2019,"43,377.00",...
...,...,...,...,...,...,...
5156,716,Zimbabwe,2016,2010-2019,...,...
381,716,Zimbabwe,1991,1990-1999,...,...
4010,716,Zimbabwe,2010,2010-2019,...,...
763,716,Zimbabwe,1993,1990-1999,...,...
5538,716,Zimbabwe,2018,2010-2019,...,...

In [ ]:
# Add "Decade Average GHG Emissions" Column

In [27]:
# Average ghg emission by decades 
avg_dec = final_ghg_df.groupby(["Decades"])
dec_means = avg_dec.mean()
#for decade in Decades: 

df["Decade Average GHG Emissions"] = dec_means

In [17]:
# Climate disasters unpivoted

disasters_df_unpivot = disasters_df.melt(id_vars=['CountryID', 'Countries or areas', 'Latest Year', '1000 t of\n CO₂ equivalent', '%', 'kg of CO₂ equivalent'], var_name='Year', value_name = 'GHG emissions per 1000t')

KeyError: "The following 'id_vars' are not present in the DataFrame: ['%', '1000 t of\\n CO₂ equivalent', 'Latest Year', 'kg of CO₂ equivalent']"