In [18]:
import pandas as pd
from itertools import cycle

In [19]:
#Greenhouse Gas Emissions

ghg_csv = "/Users/ashleypatricia/Documents/GitHub/ETL-project/ghg_csv/GHG_Emissions.csv"

In [20]:
#Read csvs into dataframes

ghg_df = pd.read_csv(ghg_csv, skiprows=[0])

In [21]:
ghg_df

,Unnamed: 0,Unnamed: 1,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,Latest Year,1000 t of\n CO₂ equivalent,%,kg of CO₂ equivalent
0,4,Afghanistan,...,...,...,...,...,...,...,...,...,"43,377.00",...,...,...,...,...,2013,43377.00,...,1.34
1,8,Albania,"4,341.63","6,486.66","4,581.28","4,588.00","4,906.36","4,883.76","4,998.58","5,107.07",...,...,...,...,...,...,...,2009,8125.70,87.16,2.73
2,12,Algeria,...,...,...,...,"91,758.00",...,...,...,...,...,...,...,...,...,...,2000,111022.59,...,3.58
3,24,Angola,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,2005,61610.76,...,3.17
4,28,Antigua and Barbuda,388.63,...,...,...,...,...,...,...,...,...,...,...,...,...,...,2000,597.75,53.81,7.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,862,Venezuela (Bolivarian Republic of),...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,1999,192192.24,...,8.10
187,704,Viet Nam,...,...,...,...,"84,454.06",...,...,...,...,"2,78,441.86",...,...,...,...,...,2013,278441.86,...,3.07
188,887,Yemen,...,...,...,...,...,"17,870.11",...,...,...,...,...,...,...,...,...,2012,37942.87,...,1.55
189,894,Zambia,...,...,...,...,"32,770.07",...,...,...,...,...,...,...,...,...,...,2000,14404.70,...,1.38
190,716,Zimbabwe,...,...,...,...,"27,594.22",...,...,...,...,...,...,...,...,...,...,2006,21184.72,...,1.74

In [22]:
ghg_df.rename(columns={"Unnamed: 0": "CountryID", "Unnamed: 1": "Countries or areas"}, inplace=True)
ghg_df

,CountryID,Countries or areas,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,Latest Year,1000 t of\n CO₂ equivalent,%,kg of CO₂ equivalent
0,4,Afghanistan,...,...,...,...,...,...,...,...,...,"43,377.00",...,...,...,...,...,2013,43377.00,...,1.34
1,8,Albania,"4,341.63","6,486.66","4,581.28","4,588.00","4,906.36","4,883.76","4,998.58","5,107.07",...,...,...,...,...,...,...,2009,8125.70,87.16,2.73
2,12,Algeria,...,...,...,...,"91,758.00",...,...,...,...,...,...,...,...,...,...,2000,111022.59,...,3.58
3,24,Angola,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,2005,61610.76,...,3.17
4,28,Antigua and Barbuda,388.63,...,...,...,...,...,...,...,...,...,...,...,...,...,...,2000,597.75,53.81,7.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,862,Venezuela (Bolivarian Republic of),...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,1999,192192.24,...,8.10
187,704,Viet Nam,...,...,...,...,"84,454.06",...,...,...,...,"2,78,441.86",...,...,...,...,...,2013,278441.86,...,3.07
188,887,Yemen,...,...,...,...,...,"17,870.11",...,...,...,...,...,...,...,...,...,2012,37942.87,...,1.55
189,894,Zambia,...,...,...,...,"32,770.07",...,...,...,...,...,...,...,...,...,...,2000,14404.70,...,1.38
190,716,Zimbabwe,...,...,...,...,"27,594.22",...,...,...,...,...,...,...,...,...,...,2006,21184.72,...,1.74

In [23]:
ghg_df_unpivot = ghg_df.melt(id_vars=['CountryID', 'Countries or areas', 'Latest Year', '1000 t of\n CO₂ equivalent', '%', 'kg of CO₂ equivalent'], var_name='Year', value_name = 'GHG emissions per 1000t')

ghg_df_unpivot

,CountryID,Countries or areas,Latest Year,1000 t of\n CO₂ equivalent,%,kg of CO₂ equivalent,Year,GHG emissions per 1000t
0,4,Afghanistan,2013,43377.00,...,1.34,1990,...
1,8,Albania,2009,8125.70,87.16,2.73,1990,"4,341.63"
2,12,Algeria,2000,111022.59,...,3.58,1990,...
3,24,Angola,2005,61610.76,...,3.17,1990,...
4,28,Antigua and Barbuda,2000,597.75,53.81,7.86,1990,388.63
...,...,...,...,...,...,...,...,...
5534,862,Venezuela (Bolivarian Republic of),1999,192192.24,...,8.10,2018,...
5535,704,Viet Nam,2013,278441.86,...,3.07,2018,...
5536,887,Yemen,2012,37942.87,...,1.55,2018,...
5537,894,Zambia,2000,14404.70,...,1.38,2018,...
5538,716,Zimbabwe,2006,21184.72,...,1.74,2018,...

In [24]:
ghg_df_unpivot.drop(ghg_df_unpivot.iloc[:, 2:4], inplace=True, axis=1)
ghg_df_unpivot

,CountryID,Countries or areas,%,kg of CO₂ equivalent,Year,GHG emissions per 1000t
0,4,Afghanistan,...,1.34,1990,...
1,8,Albania,87.16,2.73,1990,"4,341.63"
2,12,Algeria,...,3.58,1990,...
3,24,Angola,...,3.17,1990,...
4,28,Antigua and Barbuda,53.81,7.86,1990,388.63
...,...,...,...,...,...,...
5534,862,Venezuela (Bolivarian Republic of),...,8.10,2018,...
5535,704,Viet Nam,...,3.07,2018,...
5536,887,Yemen,...,1.55,2018,...
5537,894,Zambia,...,1.38,2018,...
5538,716,Zimbabwe,...,1.74,2018,...

In [25]:
ghg_df_unpivot.drop(['kg of CO₂ equivalent'], inplace=True, axis=1)
ghg_df_unpivot

,CountryID,Countries or areas,%,Year,GHG emissions per 1000t
0,4,Afghanistan,...,1990,...
1,8,Albania,87.16,1990,"4,341.63"
2,12,Algeria,...,1990,...
3,24,Angola,...,1990,...
4,28,Antigua and Barbuda,53.81,1990,388.63
...,...,...,...,...,...
5534,862,Venezuela (Bolivarian Republic of),...,2018,...
5535,704,Viet Nam,...,2018,...
5536,887,Yemen,...,2018,...
5537,894,Zambia,...,2018,...
5538,716,Zimbabwe,...,2018,...

In [26]:
ghg_df_unpivot.sort_values(by=['Countries or areas', 'Year'], inplace=True)
ghg_df_unpivot

      CountryID Countries or areas    %  Year GHG emissions per 1000t
0             4        Afghanistan  ...  1990                     ...
191           4        Afghanistan  ...  1991                     ...
382           4        Afghanistan  ...  1992                     ...
573           4        Afghanistan  ...  1993                     ...
764           4        Afghanistan  ...  1994                     ...
...         ...                ...  ...   ...                     ...
4774        716           Zimbabwe  ...  2014                     ...
4965        716           Zimbabwe  ...  2015                     ...
5156        716           Zimbabwe  ...  2016                     ...
5347        716           Zimbabwe  ...  2017                     ...
5538        716           Zimbabwe  ...  2018                     ...

[5539 rows x 5 columns]

In [28]:
# Change "Year" column to integer
ghg_df_unpivot.dtypes
ghg_df_unpivot["Year"] = ghg_df_unpivot["Year"].astype(str).astype(int)
ghg_df_unpivot.dtypes

CountryID                   int64
Countries or areas         object
%                          object
Year                        int64
GHG emissions per 1000t    object
dtype: object

In [29]:
# Bins for ghg data 
bins = [1990, 1999, 2009, 2019]

decades = ["1990-1999", "2000-2009", "2010-2019"]

ghg_df_unpivot["Decades"] = pd.cut(ghg_df_unpivot["Year"], bins, labels=decades, include_lowest=True)
ghg_df_unpivot

,CountryID,Countries or areas,%,Year,GHG emissions per 1000t,Decades
0,4,Afghanistan,...,1990,...,1990-1999
191,4,Afghanistan,...,1991,...,1990-1999
382,4,Afghanistan,...,1992,...,1990-1999
573,4,Afghanistan,...,1993,...,1990-1999
764,4,Afghanistan,...,1994,...,1990-1999
...,...,...,...,...,...,...
4774,716,Zimbabwe,...,2014,...,2010-2019
4965,716,Zimbabwe,...,2015,...,2010-2019
5156,716,Zimbabwe,...,2016,...,2010-2019
5347,716,Zimbabwe,...,2017,...,2010-2019
5538,716,Zimbabwe,...,2018,...,2010-2019

In [121]:
# Reorder so that years are next to decades 
final_ghg_df = ghg_df_unpivot[['CountryID', 'Countries or areas', 'Year', 'Decades', 'GHG emissions per 1000t']]
final_ghg_df.sort_values(by=['Countries or areas'])

      CountryID Countries or areas  Year    Decades GHG emissions per 1000t
0             4        Afghanistan  1990  1990-1999                     ...
5348          4        Afghanistan  2018  2010-2019                     ...
5157          4        Afghanistan  2017  2010-2019                     ...
4966          4        Afghanistan  2016  2010-2019                     ...
4775          4        Afghanistan  2015  2010-2019                     ...
...         ...                ...   ...        ...                     ...
381         716           Zimbabwe  1991  1990-1999                     ...
190         716           Zimbabwe  1990  1990-1999                     ...
5347        716           Zimbabwe  2017  2010-2019                     ...
2673        716           Zimbabwe  2003  2000-2009                     ...
5538        716           Zimbabwe  2018  2010-2019                     ...

[5539 rows x 5 columns]

In [122]:
final_ghg_df.describe()

         CountryID         Year
count  5539.000000  5539.000000
mean    432.314136  2004.000000
std     252.536248     8.367356
min       4.000000  1990.000000
25%     208.000000  1997.000000
50%     428.000000  2004.000000
75%     646.000000  2011.000000
max     894.000000  2018.000000

In [149]:
# Replace all "..." with "0"
final_ghg_df = final_ghg_df.replace(['...'], 0)

In [150]:
final_ghg_df["GHG emissions per 1000t"].value_counts()

0              3384
235.90            2
1,544.00          2
107.24            2
6,750.00          2
               ...
90,175.18         1
51,267.85         1
91,758.00         1
9,642.83          1
5,29,131.49       1
Name: GHG emissions per 1000t, Length: 2138, dtype: int64

In [151]:
final_ghg_df.dtypes

CountryID                     int64
Countries or areas           object
Year                          int64
Decades                    category
GHG emissions per 1000t      object
dtype: object

In [154]:
# Change emission to integer
final_ghg_df["GHG emissions per 1000t"] = final_ghg_df["GHG emissions per 1000t"].astype(str).astype(int)

ValueError: invalid literal for int() with base 10: '19,328.02'

In [152]:
final_ghg_df.groupby('Decades').agg('mean')

            CountryID    Year
Decades
1990-1999  432.314136  1994.5
2000-2009  432.314136  2004.5
2010-2019  432.314136  2014.0

In [153]:
# Average GHG emission by decade 
#final_ghg_df.groupby('Decades').agg('mean')
final_ghg_df.groupby('Decades').agg({'GHG emissions per 1000t' : 'mean'})

#final_ghg_df.groupby(pd.cut(final_ghg_df['Year'], bins=bins)).mean()
#final_ghg_df

DataError: No numeric types to aggregate

In [144]:
final_df = final_ghg_df['GHG emissions per 1000t'].replace({"GHG emissions per 1000t":"19,328.02", "GHG emissions per 1000t":19328.02}) 
finaldf = final_df.replace(['...'], 0)

#final_df['GHG emissions per 1000t'] = final_df['GHG emissions per 1000t'].astype(float)
#final_df['GHG emissions per 1000t'] = final_df['GHG emissions per 1000t'].apply(lambda x : 0 if x == '...' else float(x))
#final_ghg_df.groupby('Decades').agg({'GHG emissions per 1000t' : 'mean'})

KeyError: 'GHG emissions per 1000t'